<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_200266d7b1db40c09ae93136953f00a2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_200266d7b1db40c09ae93136953f00a2" ></div>
        
</body>
<script>    
    
            var map_200266d7b1db40c09ae93136953f00a2 = L.map(
                "map_200266d7b1db40c09ae93136953f00a2",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_eacfe642fff643d1b2cada5672697e4e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_200266d7b1db40c09ae93136953f00a2);
        
    
            var feature_group_476af361a0ec4a899979515b67dd3f66 = L.featureGroup(
                {}
            ).addTo(map_200266d7b1db40c09ae93136953f00a2);
        
    
            var marker_cluster_c1835db56c3c4b61af5376b738cf0ad6 = L.markerClusterGroup(
                {}
            );
            feature_group_476af361a0ec4a899979515b67dd3f66.addLayer(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
            var marker_5623a7190a9b4ac39a38cc00a74486b7 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_170526e0e99b40fa86d93ce079b77c39 = L.popup({"maxWidth": "100%"});

        
            var html_c39179bad2a44fc7b8cad2ff6c014dc2 = $(`<div id="html_c39179bad2a44fc7b8cad2ff6c014dc2" style="width: 100.0%; height: 100.0%;">Bill Clinton</div>`)[0];
            popup_170526e0e99b40fa86d93ce079b77c39.setContent(html_c39179bad2a44fc7b8cad2ff6c014dc2);
        

        marker_5623a7190a9b4ac39a38cc00a74486b7.bindPopup(popup_170526e0e99b40fa86d93ce079b77c39)
        ;

        
    
    
            var marker_fbb70ba472a14a6fb6c3de9d78da4ab7 = L.marker(
                [36.7014631, -118.755997],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_3ce9e07fd7544d7e80985af00a224992 = L.popup({"maxWidth": "100%"});

        
            var html_59ab938958494af8b957ec6a7b3367b1 = $(`<div id="html_59ab938958494af8b957ec6a7b3367b1" style="width: 100.0%; height: 100.0%;">Kamala Harris</div>`)[0];
            popup_3ce9e07fd7544d7e80985af00a224992.setContent(html_59ab938958494af8b957ec6a7b3367b1);
        

        marker_fbb70ba472a14a6fb6c3de9d78da4ab7.bindPopup(popup_3ce9e07fd7544d7e80985af00a224992)
        ;

        
    
    
            var marker_766d50708b4e437f9fa67e256cc01397 = L.marker(
                [42.3788774, -72.032366],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_9c8dbdb9a2e74b8eb70da572292ac080 = L.popup({"maxWidth": "100%"});

        
            var html_3470e4e434584d72a15914c827b34259 = $(`<div id="html_3470e4e434584d72a15914c827b34259" style="width: 100.0%; height: 100.0%;">Deval "Wear a Mask" Patrick</div>`)[0];
            popup_9c8dbdb9a2e74b8eb70da572292ac080.setContent(html_3470e4e434584d72a15914c827b34259);
        

        marker_766d50708b4e437f9fa67e256cc01397.bindPopup(popup_9c8dbdb9a2e74b8eb70da572292ac080)
        ;

        
    
    
            var marker_c3475ef619534a0f93bf5784040c8beb = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_bd4fbbdf7df146d586a26e535bc8cbc0 = L.popup({"maxWidth": "100%"});

        
            var html_e7abcec7af1248c5ab07078c9c5dae8f = $(`<div id="html_e7abcec7af1248c5ab07078c9c5dae8f" style="width: 100.0%; height: 100.0%;">Ms. Turnage Young</div>`)[0];
            popup_bd4fbbdf7df146d586a26e535bc8cbc0.setContent(html_e7abcec7af1248c5ab07078c9c5dae8f);
        

        marker_c3475ef619534a0f93bf5784040c8beb.bindPopup(popup_bd4fbbdf7df146d586a26e535bc8cbc0)
        ;

        
    
    
            var marker_0c812c1819e543f085dc1b5b133a2886 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_01f739adfa684edbbf9d0c2cc4e62c2a = L.popup({"maxWidth": "100%"});

        
            var html_7160b91d4d084f9ead54ec7ca44e29b8 = $(`<div id="html_7160b91d4d084f9ead54ec7ca44e29b8" style="width: 100.0%; height: 100.0%;">Justin Sink</div>`)[0];
            popup_01f739adfa684edbbf9d0c2cc4e62c2a.setContent(html_7160b91d4d084f9ead54ec7ca44e29b8);
        

        marker_0c812c1819e543f085dc1b5b133a2886.bindPopup(popup_01f739adfa684edbbf9d0c2cc4e62c2a)
        ;

        
    
    
            var marker_d0435126877043b08a2d339948ce8fad = L.marker(
                [40.7341857, -74.00558],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_829ef900f1bd4b4bbf8253e28fcaf7b8 = L.popup({"maxWidth": "100%"});

        
            var html_815e4f6ea18441d9bb97ca62ac00a417 = $(`<div id="html_815e4f6ea18441d9bb97ca62ac00a417" style="width: 100.0%; height: 100.0%;">Cody Keenan</div>`)[0];
            popup_829ef900f1bd4b4bbf8253e28fcaf7b8.setContent(html_815e4f6ea18441d9bb97ca62ac00a417);
        

        marker_d0435126877043b08a2d339948ce8fad.bindPopup(popup_829ef900f1bd4b4bbf8253e28fcaf7b8)
        ;

        
    
    
            var marker_37419fb0d95c47f6b68dd4761dd960c1 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_a41adcd207fe4b81af0d192512a07237 = L.popup({"maxWidth": "100%"});

        
            var html_32cc78dbfb7b45af92c385553bab8c94 = $(`<div id="html_32cc78dbfb7b45af92c385553bab8c94" style="width: 100.0%; height: 100.0%;">Jen Friedman</div>`)[0];
            popup_a41adcd207fe4b81af0d192512a07237.setContent(html_32cc78dbfb7b45af92c385553bab8c94);
        

        marker_37419fb0d95c47f6b68dd4761dd960c1.bindPopup(popup_a41adcd207fe4b81af0d192512a07237)
        ;

        
    
    
            var marker_4b82d823ca174c4783e33f65ef08f80a = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_afe544009059427db51c3e8183cc63fe = L.popup({"maxWidth": "100%"});

        
            var html_5adc17a53197446dab268b3e32f4e4a0 = $(`<div id="html_5adc17a53197446dab268b3e32f4e4a0" style="width: 100.0%; height: 100.0%;">Liz Allen</div>`)[0];
            popup_afe544009059427db51c3e8183cc63fe.setContent(html_5adc17a53197446dab268b3e32f4e4a0);
        

        marker_4b82d823ca174c4783e33f65ef08f80a.bindPopup(popup_afe544009059427db51c3e8183cc63fe)
        ;

        
    
    
            var marker_14ef2185c8a44f6299297d9c4ff23bc6 = L.marker(
                [41.8755616, -87.6244212],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_b2c8ad0af7d84150b521130c7508675f = L.popup({"maxWidth": "100%"});

        
            var html_9acd420f40c848bda12c56ae2d7ef02f = $(`<div id="html_9acd420f40c848bda12c56ae2d7ef02f" style="width: 100.0%; height: 100.0%;">Kori Schulman</div>`)[0];
            popup_b2c8ad0af7d84150b521130c7508675f.setContent(html_9acd420f40c848bda12c56ae2d7ef02f);
        

        marker_14ef2185c8a44f6299297d9c4ff23bc6.bindPopup(popup_b2c8ad0af7d84150b521130c7508675f)
        ;

        
    
    
            var marker_9d9abe579adf4e56a7a9e52f368617b4 = L.marker(
                [41.8755616, -87.6244212],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_4a95872a0c8c4920be15e210d27b3b86 = L.popup({"maxWidth": "100%"});

        
            var html_60593d808ef74c64a45abbb085dab3d2 = $(`<div id="html_60593d808ef74c64a45abbb085dab3d2" style="width: 100.0%; height: 100.0%;">Josh Earnest</div>`)[0];
            popup_4a95872a0c8c4920be15e210d27b3b86.setContent(html_60593d808ef74c64a45abbb085dab3d2);
        

        marker_9d9abe579adf4e56a7a9e52f368617b4.bindPopup(popup_4a95872a0c8c4920be15e210d27b3b86)
        ;

        
    
    
            var marker_abb9b8762e0f411fb4fca875d6223df3 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_10522f8ccd7140ecb8576241b2b7094c = L.popup({"maxWidth": "100%"});

        
            var html_7ca5f341acd24692bc23b0d6b7c93f2a = $(`<div id="html_7ca5f341acd24692bc23b0d6b7c93f2a" style="width: 100.0%; height: 100.0%;">Cecilia Muñoz</div>`)[0];
            popup_10522f8ccd7140ecb8576241b2b7094c.setContent(html_7ca5f341acd24692bc23b0d6b7c93f2a);
        

        marker_abb9b8762e0f411fb4fca875d6223df3.bindPopup(popup_10522f8ccd7140ecb8576241b2b7094c)
        ;

        
    
    
            var marker_6c7df7e8d8834527a0ba81a8f414d1d5 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_0f200aeb01a847f7b4e1dea10587287a = L.popup({"maxWidth": "100%"});

        
            var html_a9604a06e5df4da5b67945095b2c42ac = $(`<div id="html_a9604a06e5df4da5b67945095b2c42ac" style="width: 100.0%; height: 100.0%;">Eric Schultz</div>`)[0];
            popup_0f200aeb01a847f7b4e1dea10587287a.setContent(html_a9604a06e5df4da5b67945095b2c42ac);
        

        marker_6c7df7e8d8834527a0ba81a8f414d1d5.bindPopup(popup_0f200aeb01a847f7b4e1dea10587287a)
        ;

        
    
    
            var marker_f801306fa46c421fa386339b4c270d38 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(marker_cluster_c1835db56c3c4b61af5376b738cf0ad6);
        
    
        var popup_f9442f3e78c243f49ea5996276edd402 = L.popup({"maxWidth": "100%"});

        
            var html_a8252b70a93140a597904ff89e673371 = $(`<div id="html_a8252b70a93140a597904ff89e673371" style="width: 100.0%; height: 100.0%;">Ben Rhodes</div>`)[0];
            popup_f9442f3e78c243f49ea5996276edd402.setContent(html_a8252b70a93140a597904ff89e673371);
        

        marker_f801306fa46c421fa386339b4c270d38.bindPopup(popup_f9442f3e78c243f49ea5996276edd402)
        ;

        
    
    
            var layer_control_d05e769a42ee4b239a4cf715c78b00ba = {
                base_layers : {
                    "openstreetmap" : tile_layer_eacfe642fff643d1b2cada5672697e4e,
                },
                overlays :  {
                    "User Locations" : feature_group_476af361a0ec4a899979515b67dd3f66,
                },
            };
            L.control.layers(
                layer_control_d05e769a42ee4b239a4cf715c78b00ba.base_layers,
                layer_control_d05e769a42ee4b239a4cf715c78b00ba.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_200266d7b1db40c09ae93136953f00a2);
        
</script>